<div class="container">
    <h1>Current Movies</h1>
    <div *ngIf="currentMovies.length > 0; else noMovies">
      <div class="grid-container">
        <div *ngFor="let movie of currentMovies" class="card" (click)="onCardClick(movie)">
          <h2>{{ movie.title }}</h2>
          <!-- <h3>{{ movie.original_title }}</h3> -->
          <p>{{ movie.overview }}</p>
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" width="200" height="200">
          <p><strong>popularity:</strong>{{ movie.popularity }}</p>
          <p><strong>ratting:</strong>{{ movie.vote_average }}</p>
          <p><strong>vote:</strong>{{ movie.vote_count }}</p>
          <p><strong>Release Date:</strong> {{ movie.release_date}}</p>
        </div>
      </div>
    </div>
    <ng-template #noMovies>
      <p>No current movies found.</p>
    </ng-template>
  </div>
  